{% extends 'MQTTApi/base.html' %}
{% block content %}
    <h3>Connect unit - Select Hub</h3>
    <div class="row">
                <table>
                    <thead><tr><th>Name</th><th>Public Address</th><th>Private Address</th></tr></thead>
                    <tbody>
                        {% for dest_hub in hubs %}
                        <tr>
                            <td><a href="{% url 'connect_unit_device_select' hub device pk dest_hub.pk %}">{{ dest_hub.name }}</a></td>
                            <td>{{ dest_hub.public_address }}</td>
                            <td>{{ dest_hub.private_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}