{% extends 'MQTTApi/base.html' %}
{% block content %}
    <h3>Connected units for:</h3>
    <div class="row">
        <h5>Hub:</h5>
        Id: {{ hub.pk }}<br>
        Name: {{ hub.name }}<br>
        Private Address: {{ hub.private_address }}<br>
        Public Address: {{ hub.public_address }}
    </div>
    <div class="row">
        <h5>Device:</h5>
        Id: {{ device.pk }}<br>
        Name: {{ device.name }}<br>
        Type Of Device: {{ device.type_of_device }}
    </div>
        <div class="row">
        <h5>Unit:</h5>
        Id: {{ unit.pk }}<br>
        Name: {{ unit.name }}<br>
        Direction: {{ unit.direction }}<br>
        Type Of Unit: {{ unit.type_of_unit }}
    </div>
    <a href="{% url 'connect_unit_hub_select' hub.pk device.pk unit.pk %}"
       class="waves-effect waves-light btn-small">Connect Unit<i
            class="material-icons right">power</i></a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Destination Hub</th>
            <th>Destination Device</th>
            <th>Destination Unit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for connected_unit in connected_units %}
                <tr>
                    <td>{{ connected_unit.from_unit }}</td>
                    <td>{{ connected_unit.dest_hub }}</td>
                    <td>{{ connected_unit.dest_device }}</td>
                    <td>{{ connected_unit.dest_unit }}</td>
                    <td><a href="{% url 'connected_unit_delete' hub.pk device.pk unit.pk connected_unit.pk %}">Delete<i
                            class="material-icons right">remove_circle</i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}