{% extends 'MQTTApi/base.html' %}
{% block content %}
        <h3>Hubs Network:</h3>
        <div class="row">
                <table>
                    <thead><tr><th>Name</th><th>Public Address</th><th>Private Address</th></tr></thead>
                    <tbody>
                        {% for hub in hubs %}
                        <tr>
                            <td><a href="{% url 'hub_devices' hub.pk %}">{{ hub.name }}</a></td>
                            <td>{{ hub.public_address }}</td>
                            <td>{{ hub.private_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock %}