{% extends 'AuthService/base.html' %}
{% block content %}
        <h3>Groups</h3>
        <div class="row">
            <a href="{% url 'group_create' %}" class="waves-effect waves-light btn-small">Add Group<i class="material-icons right">add</i></a><br>
            <table>
                <thead><tr><th>Group Name</th><th>Actions</th></tr></thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td> <td><a href="{% url 'group_update' group.pk %}" class="waves-effect waves-light btn">Update <i class="small material-icons">edit</i></a>
                        <a href="{% url 'group_delete' group.pk %}" class="waves-effect waves-light btn">Delete <i class="small material-icons">remove_circle</i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}