{% extends 'AuthService/base.html' %}
{% block content %}
        {% if has_api_key %}
            {% if created %}
                <h1>Dodano Hub. API KEY to: {{ api_key }}</h1>
            {% else %}
                <h1>Zmieniono API KEY na: {{ api_key }}</h1>
            {% endif %}
        {% endif %}
        <a href="{% url 'hub_create' %}">Add Hub</a><br><br>
        {% for hub in hubs %}
            <a href="{% url 'hub_details' hub.pk %}">{{ hub.pk }} {{ hub.name }} {{ hub.private_address }} {{ hub.public_address }}</a>
            <a href="{% url 'hub_update' hub.pk %}">Edit</a> <a href="{% url 'hub_delete' hub.pk %}">Delete</a>
            <a href="{% url 'hub_reset_key' hub.pk %}">Reset Key</a>
            <br>
        {% endfor %}
{% endblock %}